* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
}

#main {
    height: 100vh;
    width: 65%;
    background-color: #313131;
}

#draggableSpace {
    width: 100%;
    height: 40px;
    -webkit-app-region: drag;
    background-color: #424242;
}

#vaultList {
    display: flex;
    height: 100vh;
    width: 35%;
    background-color: #4c4c4c;
    -webkit-box-shadow: -4px 3px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -4px 3px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 3px 8px 0px rgba(0, 0, 0, 0.2);
}

#topButtons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    background-color: #424242;
 }

 #minimizeBtn, #closeBtn {
    width: 60px;
    height: 40px;
}

#minimizeBtn {
    background-image: url('resources/icons/ic_minimize_app.png');
    background-color: #424242;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

#minimizeBtn:hover {
    background-color: #606060;
}

#closeBtn {
    background-image: url('resources/icons/ic_close_app.png');
    background-color: #424242;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

#closeBtn:hover {
    background-color: #e75c5c;
}